body {
  margin: 0;
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  max-width: 360px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #131313;
}

.content-section_theme_dark {
  background-color: #131313;
}

.content-section_theme_bright {
  background-color: #fee42a;
}


.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
}

.header__logo-image {
  height: 15px;
  width: 78px;
}

.header__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__menu-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #f5f5f5;
}

.header__menu-item_active {
  text-decoration: underline #f5f5f5;
}

.cover {
  padding: 7px 0 0 20px;
  background: url(../images/cover.svg) no-repeat center;
  background-size: 96% auto;
  min-height: 260px;
  background-color: #131313;
}

.cover__title {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  color: #ffffff;
}

.accent-span {
  display: block;
  font-family: 'EB Garamond';
}

.text-center {
  text-align: center;
  padding-right: 24px;
}

.text-right {
  text-align: right;
  padding-right: 24px;
}

.intro {
  padding: 0px 20px 38px 20px;
}

.intro__heading {
  display: flex;
  flex-direction: row;
}

.intro__title {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #ccc;
}

.intro__date {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #ccc;
}

.intro__main-text {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 22px;
}
 
.content-section__subtitle {
  font-size: 28px;
  line-height: 115%;
  font-weight: 500;
}

.reasons {
  padding: 36px 20px 40px 20px;
}

.content-section__introduction {
  padding: 32px 0;
  font-size: 20px;
  line-height: 27px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #131313;
  padding-left: 15px;
}

.content-section__list-item {
  font-size: 16px;
  line-height: 21.6px;
}

.content-section__list-accent {
font-weight: 700;
}

.how-to {
  padding: 40px 20px 60px 20px;
  color: #f5f5f5;
}

.cards-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #f5f5f5;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 320px;
  border-radius: 30px;
}

.card_theme_dark {
  background-color: #343434;
}

.card__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 20px ;
  padding-left: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%; 
}

.card__author-photo {
  width: 100px;
  height: 100px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 20px 20px 20px;
}

.card__title {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%; 
}

.card__text {
  font-size: 16px;
  line-height: 22px;
}

.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
  padding-top: 20px;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: space-between; 
  border-top:#fee42a 1px solid;
  color: #f5f5f5;
}

.footer__copy::before {
 content: "\00A9";
}

.footer__links {
  list-style: none;
  display: flex;
  gap: 16px;
  line-height: 135%;
}

.footer__link {
  text-decoration: none;
  color: #f5f5f5;
}